.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-rows: auto 1fr;
  border-right: 1px solid #bbb;

  /* resize handler */
  resize: horizontal;
  overflow-x: hidden;
  min-width: 200px;
  max-width: 50vw;
}

.sidebar__content {
  position: relative; /* required to measure offsetTop on .webhooks__item */
}
