.header {
  grid-area: header;
  padding: 10px;
  border-bottom: 1px solid #bbb;
}

.content {
  color: #007bff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  margin-right: 10px;
}

.title {
  font-size: 30px;
}
