.container {
  height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "endpoints";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto;
}

.endpoints {
  grid-area: endpoints;
  height: 100%;
  overflow-y: hidden;
}

.endpointsFullHeight {
  height: 100%;
  overflow-y: auto;
}

.endpointsPadding {
  margin-top: 40px;
  margin-bottom: 40px;
}