.header {
  padding: 6px 10px;
  display: grid;
  grid-template-columns: 1fr 24px;
}

.header:hover {
  background: #ededed;
  cursor: pointer;
}

.active .header {
  background: #f09e22;
  color: white;
}

.label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.badges {
  text-align: right;
}

.successIcon {
  color: #28a745;
}

.errorIcon {
  color: #dc3545;
}

.details {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 6px 10px;
}
