.body {
  grid-template-areas:
  "sidebar main";
  grid-area: body;
  display: grid;
  grid-template-columns: auto 1fr;
  overflow-y: hidden; /* to properly position scroll bar while keeping 100% height */
}