.main {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
}

@media (max-width: 619px) {
  .main {
    min-width: 400px;
  }
}

@media (max-width: 400px) {
  .main {
    min-width: 269px;
  }
}
