.autoForward {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.button {
  color: hsl(354, 70%, 54%);
}

/* TODO: nested sass */
.iconOn
  .button {
  animation: autoForwardButtonOn 1.6s infinite;
}

@keyframes autoForwardButtonOn {
  0% {
    color: hsl(354, 70%, 54%);
  }
  30% {
    color: hsl(354, 70%, 75%);
  }
  50% {
    color: hsl(354, 70%, 75%);
  }
  90% {
    color: hsl(354, 70%, 54%);
  }
  100% {
    color: hsl(354, 70%, 54%);
  }
}
