.item {
  padding: 6px 10px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.item:hover {
  background: #ededed;
  cursor: pointer;
}

.activeNotSelected {
  outline: 1px solid rgba(42, 42, 255, 0.6);
  outline-offset: -1px;
}

.activeSelected {
  background: #f08800 !important;
  color: white;
}

.selected,
.selected:hover {
  background: #f09e22;
  color: white;
}

.label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* SASS nest */
.unread .label {
  font-weight: bold;
}

.badges {
  padding-left: 4px;
  text-align: right;
}

.badges > .badge {
  /* A little hack to vertical center the bootstrap badges */
  margin-top: -4px;
  vertical-align: middle;
}
