.item {
  padding: 6px 10px;
  display: grid;
  grid-template-columns: 1fr 78px;
}

.item:hover {
  background: #ededed;
  cursor: pointer;
}

.selected,
.selected:hover {
  background: #f09e22;
  color: white;
}

.label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* SASS nest */
.unread .label {
  font-weight: bold;
}

.badges {
  text-align: right;
}

.badges > .badge {
  /* A little hack to vertical center the bootstrap badges */
  margin-top: -4px;
  vertical-align: middle;
}
