name: Publish client

on:
  workflow_call:
    inputs:
      runsOn:
        required: true
        type: string
    secrets:
      githubToken:
        required: true
      firebaseKey:
        required: true
      appleId:
        required: false
      appleAppPassword:
        required: false
      macCerts:
        required: false
      macCertsPassword:
        required: false

jobs:
  publish_client:
    name: Publish Client
    runs-on: ${{inputs.runsOn}}
    timeout-minutes: 25
    env:
      GH_TOKEN: ${{secrets.githubToken}}
      REACT_APP_ENDPOINT_URL: https://point.webhookbuddy.com
      REACT_APP_FIREBASE_KEY: ${{secrets.firebaseKey}}
      REACT_APP_FIREBASE_DOMAIN: webhookbuddy.firebaseapp.com
      REACT_APP_FIREBASE_PROJECT_ID: webhookbuddy
      REACT_APP_FIREBASE_STORAGE_BUCKET: webhookbuddy.appspot.com
      REACT_APP_FIREBASE_SENDER_ID: 758686201783
      REACT_APP_FIREBASE_APP_ID: 1:758686201783:web:29fc8030cfe83a953b1a32
      APPLE_ID: ${{secrets.appleId}}
      APPLE_APP_PASSWORD: ${{secrets.appleAppPassword}}
      mac_certs: ${{secrets.macCerts}}
      mac_certs_password: ${{secrets.macCertsPassword}}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install client dependencies
        working-directory: client
        run: npm ci
      - name: Publish
        working-directory: client
        run: npm run publish
